.container {
  position: relative;
  overflow: hidden;
  width: 140px;
  height: 230px;
  cursor: pointer;
}

@media (min-width: 640px) {
  .container {
    width: 200px !important;
    height: 320px !important;
  }
}
