.container {
  display: flex;
  flex-direction: column;
  > h3 {
    padding: 0.5em;
  }
  .list {
    padding: 0.5em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5em;
  }
}

@media (min-width: 640px) {
  .container {
    padding: 2em;
  }
}
