.swiper-slide {
  width: fit-content !important;
  margin-top: 5px;
}
.swiper-pagination {
  position: absolute;
  padding-right: 10px;
  text-align: end;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 3;
}
