@use "../styles/base";

.container {
  width: 100%;
  height: 100%;
  position: relative;

  .slides {
    width: 100% !important;
    height: 90vh !important;
    max-height: 680px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0 !important;
    .aboutSlide {
      z-index: 2;
      display: flex;
      margin-bottom: 20px;
      flex-direction: column;
      padding: 2em;
      gap: 10px;
      h1,
      p,
      button {
        color: #fff;
      }
      p {
        -webkit-line-clamp: 2; /* number of lines to show */
        overflow: hidden;
        text-overflow: ellipsis;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
      }
      button {
        background: #0077ff;
        border-radius: 5px;
        font-size: 1em;
        font-weight: 600;
        border: none;
        outline: none;
        width: fit-content;
        padding: 0.8em 2em;
        cursor: pointer;
      }
    }
  }
  .blackBottom {
    pointer-events: none;
    position: absolute;
    top: 0;
    max-height: 680px;
    height: 90vh;
    width: 100%;
    display: flex;
    background-image: linear-gradient(transparent 70%, #212121);
    z-index: 1;
  }
  .blackTop {
    pointer-events: none;
    position: absolute;
    top: 0;
    max-height: 680px;
    height: 90vh;
    width: 100%;
    display: flex;
    background-image: linear-gradient(#212121b3 5%, transparent 20%);
    z-index: 1;
  }
}
