.card {
  display: flex;
  flex-direction: column;
  width: 140px;

  .title {
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
@media (min-width: 640px) {
  .card {
    width: 200px !important;
  }
}
