@use "../../styles/base";
.container {
  position: absolute;

  .leftcol {
    padding: 10px;
    display: flex;
    z-index: 2;
    .title {
      z-index: 2;
      color: rgb(1, 106, 167);
      font-family: base.$title-font;
      cursor: pointer;
    }
  }

  .slidesContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 0;
    background-color: rgb(133, 133, 133);
  }
}

@media (min-width: 640px) {
  .container {
    .leftcol {
      padding: 1em 2em;
    }
  }
}
