.container {
  padding: 2em 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
  .rightcol {
    .API {
      color: #6cddff;
    }
  }
  .leftcol {
    .github {
      color: #6cddff;
    }
  }
  .centercol {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    width: 100%;
    justify-content: center;
    .year {
      padding-left: 1px;
    }
  }
}

@media (min-width: 640px) {
  .container {
    padding: 2em;
  }
}
